html, body{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    height: 310px;
    width: 320px;
    flex-wrap: wrap;
}

.bloco{
    height: 100px;
    width: 100px;
    border-style: solid;
}


/* Definido as cores de cada elemento */

body{
    background-color: #90D7FF
}
h1, h3 {
    color: #0d10b1;
}
.bloco{
    background-color: #5DFDCB;
    border-color: #0e7bba;
}

h3{
    background-color: #4db8f7;
}