html, body{
    margin: 0px;
    padding: 0px;
}

#container {
    display: flex;
    height: 310px;
    width: 320px;
    flex-wrap: wrap;


}
.bloco{
    height: 100px;
    width: 100px;
    border: solid;
}